h3 {
  text-align: center;
}
.row-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.time-select {
  justify-content: space-around;
}
.course-radio {
  align-items: center;
}
.guest-checkbox {
  padding-left: 2em;
  margin-top: -2px;
}
.guest-checkbox input {

}
.guest-time-wrapper {
  padding-bottom: .3em;
  padding-top: .3em;
}
.guest-hello {
  padding-bottom: 1em;
}
.guest-time-text {
  font-size: 1.5rem;
}
#app-outer {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}
#app-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
}
#party-container {
  padding-top: 3em;
}
#nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#main-banner {
  text-align: center;
}
#lower-app {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#lower-app-inner {

}

/*
.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
} */